html, body {
    background-color: #21232A;
    color: #61DBFB;
    font-family: Helvetica, sans-serif, Arial ;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;
}